<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.mapper.SmallMapper">
    
    <resultMap type="com.module.pojo.Small" id="SmallResult">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="w" column="w" />
        <result property="bigid" column="bigid" />
        <association property="big" column="bigid" select="com.module.mapper.BigMapper.selectBigById"></association>
    </resultMap>
    
    
    <select id="selectSmallList" parameterType="com.module.pojo.Small" resultMap="SmallResult">
        select s.id,s.name,s.w,s.bigid from small s 
        <where>  
        </where>
    </select>
    <select id="selectSmallById" parameterType="Integer" resultMap="SmallResult">
        select s.* 
		from small s 
        where s.id = #{id}
    </select>
    <select id="selectAll" resultMap="SmallResult">
        select s.* 
		from small s 
    </select>

    <select id="selectByBigId" resultMap="SmallResult">
        select s.*
		from small s
		where s.bigid = #{value}
    </select>
    <insert id="insertSmall" parameterType="com.module.pojo.Small" useGeneratedKeys="true" keyProperty="id">
        insert into small (
			<if test="name != null and name != '' ">name, </if>
			<if test="w != null">w, </if> 
			<if test="bigid != null">bigid</if> 
        )values(
		<trim  prefixOverrides=",">
			<if test="name != null and name != ''">#{name}, </if>
			<if test="w != null">#{w}, </if>
			<if test="bigid != null ">#{bigid}</if>
			</trim>
		)
    </insert>

    <insert id="batchAdd" parameterType="com.module.pojo.Small" useGeneratedKeys="true" keyProperty="id">
        insert into small (
name, w, bigid        )values
        <foreach item="item" index="index" collection="list" separator=",">
        (
#{item.name}, #{item.w}, #{item.bigid}		)
		</foreach>
    </insert>
    	 
    <update id="updateSmall" parameterType="com.module.pojo.Small">
        update small 
        <set>
			<if test="name != null and name != ''">name = #{name}, </if>
            <if test="w != null">w = #{w}, </if>
            <if test="bigid != null">bigid = #{bigid}</if>
        </set>
        where id = #{id}
    </update>
	
    <update id="batchUpdate" parameterType="java.util.List">
        update small 
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="status =case" suffix="end,">
	            <foreach collection="list" item="item" index="index">
					<if test="name != null and name != ''">when id=#{item.id} then #{name}</if>
           			<if test="w != null">when id=#{item.id} then #{w}</if>
            		<if test="bigid != null">when id=#{item.id} then #{bigid}</if>
       		</foreach>
        </trim>
     </trim>
     where id in
     <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
         #{item.id,jdbcType=BIGINT}
     </foreach>
   </update>

    <delete id="deleteSmallById" parameterType="Integer">
        delete from small where id = #{value}
    </delete>
	
    <delete id="batchDeleteSmall" parameterType="Integer">
        delete from small where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
        #{id}
        </foreach>
    </delete>
    
</mapper>